<style>
    a {
        color: #0254EB
    }

    a:visited {
        color: #0254EB
    }

    a.morelink {
        text-decoration:none;
        outline: none;
    }

    .morecontent span {
        display: none;
    }

    .comment {
        width: 250px;

        margin: 10px;
    }

</style>
<section>
    <div class="page-header">
        <h2 style="padding: 20px;">Curiosidades <i class="far fa-lightbulb"></i></h2>
    </div>
    <div class="container">
        <br>    
        <br>
        <!-- 1a fila de cards -->
        <div class="card-deck">
            <!-- Card 1 -->
            <div class="card"  >
                <img class="card-img-top"  src="Content\images\card1.jpg" alt="Card image cap" style="height: 200px;">
                <div class="card-body" style="max-width: 18rem" >
                    <h5 class="card-title" ><i class="far fa-lightbulb"></i> 
                        <span class="brown_title"><b> Prémio Nobel</b></span>
                    </h5>
                    <p class="card-text">
                        <div class="text" style="text-align: justify;">O nome "<b>Nobel</b>" resulta do apelido do cientista sueco Alfred Nobel, cuja fortuna foi doada para ser usada na criação dos prémios <b>Nobel</b>.
                        </div>
                    </p>
                </div>
            </div>
            <!-- Card 2 -->
            <div class="card"  >
                <img class="card-img-top" src="Content\images\card2.jpg" alt="Card image cap" style="height: 200px;">
                <div class="card-body" style="max-width: 18rem" >
                    <h5 class="card-title" ><i class="far fa-lightbulb"></i> 
                        <span class="brown_title"><b> Prémio Nobel?</b></span>
                    </h5>
                        <p class="card-text">
                            <div class="text" style="text-align: justify;"><span class="comment more">É um conjunto de <b>seis</b> prémios internacionais anuais concedidos em várias categorias por instituições suecas e norueguesas, cujo objetivo é reconhecer <b>pessoas</b> ou <b>instituições</b> que realizaram pesquisas, descobertas ou contribuições notáveis para a humanidade no ano imediatamente anterior ou no curso de suas atividades..</span>
                            </div>
                        </p>
                </div>
            </div>
            <!-- Card 3 -->
            <div class="card"  >
                <img class="card-img-top" src="Content\images\card3.jpg" alt="Card image cap" style="height: 200px;">
                <div class="card-body" style="max-width: 18rem" >
                    <h5 class="card-title" ><i class="far fa-lightbulb"></i>
                        <span class="brown_title"><b>Escolha do laureado</b></span>
                    </h5>
                        <p class="card-text">
                            <div class="text" style="text-align: justify;"><span class="comment more">A seleção do laureado é feita a partir do <b>envio de cartas</b> pelos comitês de cada categoria para       milhares de  professores e cientistas, pedindo informações sobre os possíveis concorrentes ao Prémio Nobel..</span>
                            </div>
                        </p>
                </div>
            </div>
        </div>
        <br>
        <br>
        <!-- 2a fila de cards -->
        <div class="card-deck">
            <!-- Card 4 -->
            <div class="card">
                <img class="card-img-top" src="Content\images\card4.jpg" alt=" Card image cap" style="height: 200px;">
                <div class="card-body" style="max-width: 18rem" >
                    <h5 class="card-title" ><i class="far fa-lightbulb"></i> <span class="brown_title"><b>Mais e Menos Jovem</b></span></h5>
                    <p class="card-text">
                        <div class="text" style="text-align: justify;"><span class="comment more">A média de idades dos premiados pelo prémio Nobel em todas as categorias é de <b>59 anos</b>. A mais jovem  laureada foi a <b>paquistanesa Malala Yousafzai</b>, com apenas <b>17 anos</b> (Prémio Nobel da Paz, 2014) e o menos jovem laureado com <b>90 anos</b> foi o americano <b>Sr. William Henry Bragg</b> de origem russa (prémio Nobel da Economia).</span>
                        </div>
                    </p>
                </div>
            </div>
            <!-- Card 5 -->
            <div class="card"  >
                <img class="card-img-top" src="Content\images\card5.jpg" alt=" Card image cap" style="height: 200px;">
                <div class="card-body" style="max-width: 18rem" >
                    <h5 class="card-title" ><i class="far fa-lightbulb"></i> <span class="brown_title"><b>Recusa do prémio Nobel</b></span></h5>
                    <p class="card-text">
                        <div class="text" style="text-align: justify;"><span class="comment more">Em 1964, o escritor <b>francês Jean-Paul Sartre</b>, conhecido por manifestações existencialistas, recusou   o Nobel de Literatura. Em <b>1973</b>, o vietnamita <b>Le Duc Tho</b> foi nomeado ao lado de <b>Henry Kissinger</b>, secretário de Estado dos Estados Unidos, como ganhador do <b>Nobel da Paz</b>. Ambos foram os principais <b>negociadores do fim da Guerra do Vietnã</b>,  contudo Tho recusou o prémio ao afirmar que a situação em seu país não era pacífica.</span>
                        </div>
                    </p>
                </div>
            </div>
            <!-- Card 6 -->
            <div class="card"  >
                <img class="card-img-top" src="Content\images\card6.jpg" alt=" Card image cap" style="height: 200px;">
                <div class="card-body" style="max-width: 18rem" >
                    <h5 class="card-title" ><i class="far fa-lightbulb"></i> <span class="brown_title"><b>Por ordem de Hitler</b></span></h5>
                    <p class="card-text">
                        <div class="text" style="text-align: justify;"><span class="comment more"><b>Três</b> alemães foram proibidos por <b>Adolf Hitler</b> de receber o prêmio Nobel. <b>Richard Kuhn</b>, que seria Nobel em    Química, <b>Adolf Butenandt</b>, indicado ao Nobel em Química e <b>Gerhard Domagk</b> pelo Nobel em Medicina não tiveram permissão do regime nazista para aceitar o prêmio.</span>
                        </div>
                    </p>
                </div>
            </div>
        </div>
        <br>
        <br>
    </div>
</section>





