<section>
    <div class="page-header">
        <h2 style="padding: 20px;">
            <i class="fas fa-info-circle"></i> Informações
        </h2>
    </div>
    <div class="container">
        <div style="text-align:justify">
            <h4 style="color:grey">Sobre a &nbsp;<i class="fab fa-connectdevelop"></i>  BELPRIZEE APP</h4>
            <br>
            <p style="font-size: 18px"><i style="color: #727272" class="fas fa-angle-double-right"></i>
                Esta APP foi desenvolvida no âmbito do trabalho final de ITW.
            </p>
            <p style="font-size: 18px"><i style="color: #727272" class="fas fa-angle-double-right"></i>
                Objetivos principais - rápida procura de informações de uma base de dados (API), relacionada com os Prémios Nobel (laureados, prémios, e suas respetivas informações).
            </p>
            <p style="font-size: 18px"><i style="color: #727272" class="fas fa-angle-double-right"></i>  
                É possível a filtragem dos laureados por sexo, categoria de premiação, mostrar apenas os laureados apenas vivos.
            </p>
            <p style="font-size: 18px"><i style="color: #727272" class="fas fa-angle-double-right"></i>  
                É possível a filtragem dos prémios por categorias.
            </p>
            <p style="font-size: 18px"><i style="color: #727272" class="fas fa-angle-double-right"></i>
                Pesquisando por um laureado específico, é possível aceder a todas as informações disponibilizadas na API - data de nascimento e morte (se for o caso), cidades de nascimento e morte (com mapas), filiação, motivo de premiação - bem como aceder às informações do prémio que lhe foi atribuido.
            </p>
        </div>
        <div class="container" style="margin-left: 40%; margin-top: 3%">
            <p> </p>
            <a class="btn btn-lg btn-primary" href="#" style="font-size: large">Descubra já!</a></div>
            
        </div>
</section>